@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

div.card-header {
    font-size: large;
   }
   
   div.card {
     margin-top: 10px
   }
   
   .table {
     margin-top: 10px
   }
   
   .navbar{
     background-color: #eef6f1;
   }
   
   .navbar-nav {
     
     display: flex;  
     float: none !important;
     margin: auto !important;
    
   }
   .navbar-toggle {
     position: relative;
     float: right;
     margin-right: 15px;
     padding: 10px 10px;
     margin-top: 10.5px;
     margin-bottom: 10.5px;
     border: 1px solid transparent;
     border-radius: 5px;
   }
   
   .form-signin {
     max-width: 450px;
     padding: 1rem;
   }
   
   .form-signin .form-floating:focus-within {
     z-index: 2;
   }
   
   .navbar-nav .nav-link:hover {
     background: #e6ece5;
     border-radius:8px;
   }
   
   ::selection{
     color: #7ac987;
   }
   .hover-scale {
     transition: transform 0.3s ease-in-out;
   }
   
   .hover-scale:hover {
     transform: scale(1.05);
   }