/* Agrega esta regla CSS a tu archivo de estilos */
.nav-link {
    transition: transform 0.5s ease;
}

.nav-link:hover {
    transform: scale(1.1);
}

.nav-item {
    margin-right: 20px;
}

.nav-item:last-child {
    margin-right: 0;
}
/* Default styles for larger screens */
.navbar-collapse {
    display: flex !important;
    justify-content: flex-end;
    text-align: left;
  }
  
  .nav-item {
    margin-left: 20px; /* Adjust the spacing between menu items as needed */
  }
  
  /* Media query for mobile devices */
  @media (max-width: 768px) {
    .navbar-collapse {
      display: none !important; /* Hide the menu by default on mobile devices */
      flex-direction: column; /* Stack menu items vertically on mobile */
      text-align: left; /* Center-align menu items on mobile */
    }
  
    /* Show the menu when the navbar-toggler button is clicked */
    .navbar-toggler[aria-expanded="true"] + .navbar-collapse,
    .navbar-toggler:focus + .navbar-collapse {
      display: flex !important;
    }
    .navbar-nav {
        width: 100%;
        padding-left: 15px; /* Adjust the left padding for mobile menu items */
      }
    
      .nav-item {
        margin-left: 0; /* Remove left margin for mobile menu items */
      }

  }