.zoom-card {
    transition: transform 0.6s ease;
  }

  .zoom-card:hover {
    transform: scale(1.05);
  }

  .card-body {
    text-align: center;
  }

  .card-img-top {
    margin: 0 auto;
    max-width: 80%;
    height: auto;
  }

  .card{
    border-radius:7%;
  }